@{
    Layout = "~/Views/Shared/_Base.cshtml";
}
<script src="~/script/BenDingComm.js">

</script>
<style>
    .layui-card-header.layui-card-header-auto {
        padding-top: 15px;
        padding-bottom: 8px;
        height: auto;
    }

    .layui-form-label-nw {
        float: left;
        display: block;
        padding: 9px 5px;
        /* width: 80px; */
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }
</style>
<div class="layui-tab layui-tab-card layui-tab-brief" lay-filter="tabProjectDirectory">
    <ul class="layui-tab-title">
        <li data-status="0" id="tabProjectDirectoryOne">医院目录</li>
        <li data-status="3" id="tabOutpatientExclusion">门诊目录</li>
        <li data-status="1">医保目录</li>
        <li data-status="2" id="tabProjectDirectoryThere">对码管理</li>
        <li data-status="4" id="MedicalExpenseReport">门诊居民报账</li>
        <li data-status="5" id="MedicalExpenseMonthReport">门诊居民报账月统计</li>
    </ul>
    <input type="hidden" id="empid" name="UserId" value="@ViewBag.empid" />
    <input type="hidden" id="pairCodeDirectoryCode" value="@ViewBag.InIDirectoryCode" />
    <input type="hidden" id="pairCodeProjectCodeType" value="@ViewBag.InIProjectCodeType" />
    <input type="hidden" id="pairCodeProjectName" value="@ViewBag.InIDirectoryName" />
    <input type="hidden" id="MonthNow" name="TransKey" value="@ViewBag.MonthNow" />
    <input type="hidden" id="pairCodeManufacturer">

    <div class="layui-tab-content">
        <div class="layui-tab-item" id="tabProjectDirectoryClassOne">
            <div class="layui-form layui-card-header layui-card-header-auto" lay-filter="LAY-app-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录类别</label>
                        <div class="layui-input-inline">
                            <select id="UpdateDirectoryCategoryCode" name="BaseDirectoryCategoryCode">
                                <option value="" selected="selected">请选择类别</option>
                                <option value="0">中药</option>
                                <option value="1">西药</option>
                                <option value="2">诊疗</option>
                                <option value="3">耗材</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">医院目录编码(商品ID)</label>
                        <div class="layui-input-inline">
                            <input type="text" name="BaseDirectoryCode" placeholder="医院目录编码(商品ID)" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="BaseDirectoryName" placeholder="目录名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">生产厂家</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ManufacturerName" placeholder="生产厂家" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-app-content-list">查询</button>
                        <button class="layui-btn" id="updateSearch" data-type="updateSearch" lay-filter="updateSearch">更新目录</button>
                        <a class="layui-btn" href="/api/BenDing/DownloadFile">医保插件下载</a>
                    </div>

                </div>
            </div>
            <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form layui-card-header layui-card-header-auto" style="padding-bottom:5px" lay-filter="yibao-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="ExclusionName" placeholder="目录名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn" id="ExclusionBut">查询</button>

                    </div>
                </div>

            </div>
            <table id="OutpatientExclusionTable" lay-filter="OutpatientExclusionTable"></table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form layui-card-header layui-card-header-auto" style="padding-bottom:5px" lay-filter="yibao-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录类别</label>
                        <div class="layui-input-inline">
                            <select name="ProjectCodeType">
                                <option value="" selected="selected">请选择类别</option>
                                <option value="0">中药</option>
                                <option value="1">西药</option>
                                <option value="2">诊疗</option>
                                <option value="3">耗材</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">医保编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProjectCode" placeholder="医保编码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProjectName" placeholder="目录名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">生产厂家</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Manufacturer" placeholder="生产厂家" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">国药准字号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="QuasiFontSize" name="QuasiFontSize" placeholder="国药准字号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-yibao-content-list">查询</button>

                    </div>
                </div>

            </div>
            <table id="LAY-yibao-content-list" lay-filter="LAY-yibao-content-list"></table>
        </div>
        <div class="layui-tab-item" id="tabProjectDirectoryClassThere">
            <div class="layui-form layui-card-header layui-card-header-auto" lay-filter="LAY-pair-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录类别</label>
                        <div class="layui-input-inline">
                            <select id="DirectoryCategoryCode" name="DirectoryCategoryCode">
                                <option value="" selected="selected">请选择类别</option>
                                <option value="0">中药</option>
                                <option value="1">西药</option>
                                <option value="2">诊疗</option>
                                <option value="3">耗材</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">医院目录编码(商品ID)</label>
                        <div class="layui-input-inline">
                            <input type="text" id="DirectoryCode" name="DirectoryCode" placeholder="医院目录编码(商品ID)" value="@ViewBag.InIDirectoryCode" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">目录名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="DirectoryName" name="DirectoryName" placeholder="目录名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">关联状态</label>
                        <div class="layui-input-inline">
                            <select name="State" id="State">
                                <option value="0" selected="selected">请选择状态</option>
                                <option value="1">未对码</option>
                                <option value="2">重新对码</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-pair-content-list">查询</button>
                        @*<button class="layui-btn" id="updateSearch"  data-type="updateSearch"  lay-filter="updateSearch">更新目录</button>*@
                    </div>
                    <div class="layui-inline">
                        <a id="BenDingDownloadFile" class="layui-btn" href="/api/BenDing/DownloadFileExcel?userId=@ViewBag.empid">对码表下载</a>
                        @*<button class="layui-btn" id="updateSearch"  data-type="updateSearch"  lay-filter="updateSearch">更新目录</button>*@
                    </div>

                </div>
                <table class="layui-hide" id="LAY-pair-content-list" lay-filter="LAY-pair-content-list"></table>
            </div>


        </div>
        <div class="layui-tab-item">
            <div class="layui-form layui-card-header layui-card-header-auto" style="padding-bottom:5px" lay-filter="yibao-content-list">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label-nw">病人姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" id="PatientName" placeholder="病人姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" id="IdCardNo" placeholder="身份证号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">开始日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="StartTime" name="StartTime" placeholder="开始日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">结束日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="EndTime" name="EndTime" placeholder="结束日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" id="MedicalExpenseReportQuery">查询</button>
                        <a class="layui-btn" id="btn_MedicalReport" href="/api/BenDing/MedicalExpenseReport">导出</a>
                    </div>
                </div>

            </div>
            <table id="MedicalExpenseReportTable" lay-filter="MedicalExpenseReportTable"></table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form layui-card-header layui-card-header-auto" style="padding-bottom:5px" lay-filter="yibao-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label-nw">日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="MonthDate" name="MonthDate" placeholder="yyyy-MM" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                 
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" id="MedicalExpenseMonthReportQuery">查询</button>
                        <button class="layui-btn"  id="btn_MedicalMonthReport">导出</button>
                       
                    </div>
                </div>

            </div>
            <table id="MedicalExpenseMonthReportTable" lay-filter="MedicalExpenseMonthReportTable"></table>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '/Content/js/layui/plugin/' //假设这是test.js所在的目录
    }).extend({ //设定模块别名
        autocomplete: 'layAutoComplete'
    });
    var iniJs;
    var iniMsg;

    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate'],
        function () {
            var $ = layui.$,
                //Tab的切换功能，切换事件监听等，需要依赖element模块
                element = layui.element,
                form = layui.form,
                layer = layui.layer,
                table = layui.table, 
                laydate = layui.laydate;
            laydate.render({ elem: '#StartTime' });
            laydate.render({ elem: '#EndTime'});
           
            //年月选择器
            laydate.render({
                elem: '#MonthDate'
                , type: 'month'
                , value: $("#MonthNow").val()

            });
            //form.render(null, 'LAY-app-content-list');
            //form.render(null, 'yibao-content-list');
            //form.render(null, 'LAY-pair-content-list');
            //---------------------

            //初始化公共页面
            iniJs = $;
            iniMsg = layer;
            //替换特殊字符
            function replaceValueChar(objVal) {

                var patternStr = '!,#,$,%,^,&,*,(,),-,+,_,=,:';
                iniJs.each(patternStr.split(','), function (key, val) {

                    objVal = objVal.replace(val, '');
                });
                return objVal;
            }
            //初始查询
            function getDirectoryCategoryTypeCode(categoryName) {
                switch (categoryName) {
                    case "中药":
                        $("#pairCodeProjectCodeType").val("0");
                        break;
                    case "西药":
                        $("#pairCodeProjectCodeType").val("1");
                        break;
                    case "诊疗":
                        $("#pairCodeProjectCodeType").val("2");
                        break;
                    case "耗材":
                        $("#pairCodeProjectCodeType").val("3");
                        break;
                }

            }

            var inIProjectCodeType = $("#pairCodeProjectCodeType").val();
            if (inIProjectCodeType !== "" && inIProjectCodeType !== undefined) {


                $("#tabProjectDirectoryThere").attr("class", "layui-this");
                $("#tabProjectDirectoryClassThere").attr("class", "layui-tab-item layui-show");

                getList('2');

                form.render();
            } else {

                $("#tabProjectDirectoryOne").attr("class", "layui-this");
                $("#tabProjectDirectoryClassOne").attr("class", "layui-tab-item layui-show");

                getList('0');
            }

            //tab切换触发
            element.on('tab(tabProjectDirectory)', function () {
                var status = $(this).attr('data-status');
                getList(status);
            });
            function getList(status) {
                var tableWhere = { UserId: $("#empid").val() };
                switch (status) {
                    case '0':
                        //基层表格数据
                        baseHospitalTableData(tableWhere);
                        break;
                    case '1':
                        //医保表格数据
                        medicalInsuranceTableData(tableWhere);
                        break;
                    case '2':
                        //对码数据表格
                        pairCodeDataTable();
                        break;
                    case '3':
                        //门诊目录
                        outpatientExclusionTable();
                        break;
                    case '4':
                        //门诊居民报账
                        medicalExpenseReportTable();
                        break;
                    case '5':
                        //门诊居民报账月统计
                        medicalExpenseMonthReportTable();
                        break;
                        
                }
                form.render();
            }

            function baseHospitalTableData(tableWhere) {
                tableWhere["UserId"] = $("#empid").val();
                //医院目录
                table.render({
                    elem: '#LAY-app-content-list',
                    height: $(window).height() - 128,
                    url: host + '/QueryCatalog' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: true //开启分页
                    ,
                    cols: [
                        [//表头
                            { type: 'numbers', fixed: 'left' }, { field: 'DirectoryCode', title: '医院目录编码(商品ID)', width: 310 },
                            { field: 'DirectoryName', title: '目录名称', width: 300, sort: true },
                            { field: 'DirectoryCategoryName', title: '目录类别', width: 100, sort: true },
                            { field: 'Unit', title: '单位', width: 90 },
                            { field: 'Specification', title: '规格', width: 100 },
                            //{ field: 'Formulation', title: '剂型', width: 160 },
                            { field: 'ManufacturerName', title: '生产厂家', width: 300, sort: true },

                            { field: 'ID', title: '门诊不传', toolbar: '#tableBaseCodeBtn', width: 100, align: 'center' },
                            { field: 'DirectoryCreateTime', title: '创建时间', sort: true, width: 120 },
                            { field: 'Remark', title: '备注' }
                        ]
                    ]
                });
            }
            function medicalInsuranceTableData(tableWhere) {
                tableWhere["UserId"] = $("#empid").val();
                //医保目录
                table.render({
                    elem: '#LAY-yibao-content-list',
                    height: $(window).height() - 128,
                    url: host + '/QueryProjectDownload' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: true,
                    cols: [
                        [
                            { type: 'numbers', fixed: 'left' },
                            { field: 'ProjectCode', title: '医保编码', width: 160 },
                            { field: 'ProjectName', title: '医保项目名称', width: 160, sort: true }
                            //, { field: 'MnemonicCode', title: '助记码', width: 300, sort: true}
                            , { field: 'ProjectCodeType', title: '医保类别', width: 100 },
                            { field: 'ProjectLevel', title: '医保报销比例', width: 160 },
                            { field: 'QuasiFontSize', title: '国药准字号', width: 150 }
                            //, { field: 'Unit', title: '单位', width: 100 }
                            , { field: 'Specification', title: '规格', width: 100 },
                            { field: 'Formulation', title: '剂型', width: 160 },
                            { field: 'RestrictionSign', title: '限制用药标志', width: 100 },
                            { field: 'Manufacturer', title: '生产厂家', width: 300 },
                            { field: 'NewCodeMark', title: '新码标志', width: 100 },
                            { field: 'LimitPaymentScope', title: '限制支付范围', width: 100 },
                            { field: 'CreateTime', title: '更新时间', width: 160 },
                            { field: 'StartTime', title: '开始时间', width: 160 },
                            { field: 'EndTime', title: '结束时间', width: 160 }
                            //, { field: 'NewUpdateTime', title: '变更日期', width: 160 }
                            //, { field: 'Remark', title: '医保备注', width: 100 }
                        ]
                    ]
                    //,skin: 'line'
                });
            }
            function pairCodeDataTable() {
                var baseDirectoryCode = $("#DirectoryCode").val();
                var tableWhere = {
                    UserId: $("#empid").val(),
                    DirectoryCategoryCode: $("#DirectoryCategoryCode").val(),
                    DirectoryCode: baseDirectoryCode,
                    DirectoryName: $("#DirectoryName").val(),
                    State: $("#State").val()
                }

                //对码管理
                table.render({
                    elem: '#LAY-pair-content-list',
                    height: $(window).height() - 128,
                    url: host + '/DirectoryComparisonManagement', //数据接口
                    where: tableWhere,
                    limits: [10, 20, 50],
                    limit: 10, //每页默认显示的数量
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: true,
                    cols: [
                        [
                            { type: 'numbers', fixed: 'left' },
                            { field: 'ID', title: '对码', toolbar: '#tableBtn', width: 180, align: 'center' },
                            { field: 'DirectoryCode', title: '医院目录编码(商品ID)', width: 310, sort: true },
                            { field: 'DirectoryName', title: '医院目录名称', width: 300, sort: true },
                            //{ field: 'MnemonicCode', title: '助记码', width: 300 },
                            { field: 'DirectoryCategoryName', title: '医院目录类别', width: 100, sort: true },
                            { field: 'Unit', title: '医院单位', width: 90 },
                            { field: 'Specification', title: '医院规格', width: 100 },
                            //{ field: 'Formulation', title: '剂型', width: 160 },
                            { field: 'ManufacturerName', title: '医院生产厂家', width: 300, sort: true },
                            { field: 'ProjectCode', title: '医保项目编码', width: 160 },
                            { field: 'ProjectName', title: '医保项目名称', width: 160 },
                            { field: 'QuasiFontSize', title: '药品准字号', width: 100 },
                            { field: 'Manufacturer', title: '医保生产厂家', width: 200 },
                            { field: 'ProjectCodeType', title: '医保类别', width: 100 },
                            { field: 'ProjectLevel', title: '医保报销类别', width: 140 },
                            { field: 'PairCodeTime', title: '对码时间', width: 160 },
                            { field: 'PairCodeUser', title: '对码操作人员', width: 100 },
                            { field: 'LimitPaymentScope', title: '限制支付范围', width: 100 }
                            //{ field: 'Remark', title: '医保备注', width: 100 }

                        ]
                    ]
                    //,skin: 'line'
                });
            }
         
         
         
            function pairCodeDataModelTable() {
                var directoryName = replaceValueChar($("#pairCodeProjectName").val());
                //var directoryName = $("#pairCodeProjectName").val();
                var directoryCode = $("#pairCodeDirectoryCode").val();
                var manufacturerName = $("#pairCodeManufacturer").val();
                var directoryCategoryCode = "";
                if ($("#pairCodeProjectCodeType").val() !== undefined) {
                    directoryCategoryCode = $("#pairCodeProjectCodeType").val();
                }
                var params =
                    "?UserId=" +
                    $("#empid").val() +
                    "&ProjectName=" +
                    directoryName +
                    "&ProjectCode=" +
                    directoryCode +
                    "&ProjectCodeType=" +
                    directoryCategoryCode +
                    "&Manufacturer=" +
                    manufacturerName;

                layer.open({
                    id: 'medicalDirectoryPairCode',
                    type: 2,
                    title: '对码信息',
                    shadeClose: true, //点击遮罩关闭层
                    area: ['1080px', '540px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: hostPage + '/MedicalDirectoryPairCode' + params,
                    end: function () { //无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                        //layer.open关闭刷新
                        //location.reload();
                        pairCodeDataTable();
                    }
                });
            }
            //
            function outpatientExclusionTable() {
                var tableWhere =
                {
                    UserId: $("#empid").val(),
                    DirectoryName: $("#ExclusionName").val()
                };

                //医保目录
                table.render({
                    elem: '#OutpatientExclusionTable',
                    height: $(window).height() - 128,
                    url: hostNew + '/OutpatientExclusionQuery' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: true,
                    cols: [
                        [
                            { type: 'numbers', fixed: 'left' },
                            { field: 'ID', title: '删除', toolbar: '#tableBaseDeleteCodeBtn', width: 180, align: 'center' },
                            { field: 'DirectoryCode', title: '项目编码', width: 160 },
                            { field: 'DirectoryName', title: '项目名称', width: 160, sort: true }
                            , { field: 'DirectoryCategoryName', title: '项目类别', width: 160, sort: true }
                            , { field: 'CreateUserName', title: '操作人员', width: 100 },
                            { field: 'CreateTime', title: '操作时间', width: 160 }

                        ]
                    ]
                    //,skin: 'line'
                });
            }
            function medicalExpenseReportTable() {
               
                var tableWhere =
                {
                    'UserId': $("#empid").val(),
                    'PatientName': $("#PatientName").val(),
                    'IdCardNo': $("#IdCardNo").val(),
                    'EndTime': $("#EndTime").val(),
                    'StartTime': $("#StartTime").val()
                };

                //医保目录
                table.render({
                    elem: '#MedicalExpenseReportTable',
                    height: $(window).height() - 128,
                    url: host + '/QueryMedicalExpenseReport' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: true,
                    cols: [
                        [
                            { type: 'numbers', fixed: 'left' }
                            , { field: 'PatientName', title: '病人姓名', width: 100 }
                            , { field: 'IdCardNo', title: '身份证号', width: 180 }
                            , { field: 'VisitDate', title: '就诊日期', width: 100 }
                            , { field: 'DiagnosticJson', title: '诊断', width: 160 }
                            , { field: 'MedicalTreatmentTotalCost', title: '门诊费用(元)', width: 100 }
                            , { field: 'ReimbursementExpensesAmount', title: '门诊报销', width: 100 }
                            , { field: 'CarryOver', title: '历年结转', width: 100 }
                            , { field: 'SettlementTime', title: '报销日期', width: 100 }
                            , { field: 'ContactPhone', title: '联系电话', width: 130 }
                            , { field: 'Operator', title: '经办人', width: 100 }
                            , { field: 'CommunityName', title: '参保地', width: 250 }
                            ,{ field: 'Sign', title: '标记', width: 80 }

                        ]
                    ]
                    //,skin: 'line'
                });
            }
            function medicalExpenseMonthReportTable() {

                var tableWhere =
                {
                    'UserId': $("#empid").val(),
                    'MonthDate': $("#MonthDate").val()
                };

                //医保目录
                table.render({
                    elem: '#MedicalExpenseMonthReportTable',
                    height: $(window).height() - 128,
                    url: host + '/QueryMedicalExpenseMonthReport' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                    page: false,
                    cols: [
                        [
                            { type: 'numbers', fixed: 'left' }
                            , { field: 'Day', title: '日期', width: 120 }
                            , { field: 'Frequency', title: '一般诊疗费人次', width: 180 }
                            , { field: 'MedicalTreatmentTotalCost', title: '门诊费用', width: 120 }
                            , { field: 'ReimbursementExpensesAmount', title: '报销金额', width: 120 }

                        ]
                    ]
                    //,skin: 'line'
                });
            }
            //监听搜索
            form.on('submit(LAY-app-content-list)',
                function (data) {
                    var field = data.field;
                    field["DirectoryName"] = field.BaseDirectoryName;
                    field["DirectoryCode"] = field.BaseDirectoryCode;
                    field["DirectoryCategoryCode"] = field.BaseDirectoryCategoryCode;
                    baseHospitalTableData(field);
                });
            //监听搜索
            form.on('submit(LAY-yibao-content-list)',
                function (data) {
                    var field = data.field;
                    medicalInsuranceTableData(field);
                });
            ////监听搜索
            form.on('submit(LAY-pair-content-list)',
                function (data) {
                    pairCodeDataTable();
                });
            //查询
            $('#ExclusionBut').on('click', function () {

                outpatientExclusionTable();
            });
            //导出
            $('#btn_MedicalReport').on('click', function () {
                var url = "/api/BenDing/MedicalExpenseReport?";
                url += "UserId=" + $("#empid").val();
                url += "&StartTime=" + $("#StartTime").val();
                url += "&EndTime=" + $("#EndTime").val();
                url += "&PatientName=" + $("#PatientName").val();
                url += "&IdCardNo=" + $("#IdCardNo").val();
                $('#btn_MedicalReport').attr('href', url);
               
            });
            //导出
            $('#btn_MedicalMonthReport').on('click', function () {
                var urlMonth = "/api/BenDing/MedicalExpenseMonthExcel?";
                urlMonth += "UserId=" + $("#empid").val();
                urlMonth += "&Date=" + $("#MonthDate").val();
                window.location.href = urlMonth;  
               
            });
            
            $('#MedicalExpenseReportQuery').on('click',
                function() {
                    medicalExpenseReportTable();
                 
                });
            $('#MedicalExpenseMonthReportQuery').on('click',
                function() {
                    medicalExpenseMonthReportTable();
                    //reportExcelIni();
                });
            $('#updateSearch').on('click',
                function () {
                    var directoryCategoryCode = $("#UpdateDirectoryCategoryCode").val();
                    if (directoryCategoryCode === "" || directoryCategoryCode === undefined) {
                        layer.alert("目录类别不能为空!!!", { icon: 5, title: '错误提示', skin: 'layui-layer-molv' });
                        return false;
                    }
                    var updateSearchParam =
                    {
                        "CatalogType": directoryCategoryCode,
                        "UserId": $("#empid").val()
                    };
                    $.ajax({
                        type: 'post',
                        url: host + '/GetCatalog',
                        data: JSON.stringify(updateSearchParam),
                        dataType: "json",
                        contentType: 'application/json',
                        async: false,
                        success: function (data) {

                            if (data.Success === false) {
                                var errData = data.Message;
                                layer.alert(errData, { icon: 5, title: '错误提示', skin: 'layui-layer-molv' });
                            } else {

                                var field = data.field;
                                //执行重载
                                table.reload('LAY-pair-content-list',
                                    {
                                        where: field
                                    });
                                layer.alert(data.Data,
                                    { icon: 6, title: '温馨提示', shade: 0.1, skin: 'layui-layer-molv' });

                            }
                        }

                    });

                });
            //$('#pairDateQuery').on('click',
            //    function () {
            //        pairCodeDataListTable();
            //    });
            //取消对码
            function cancelPairCode(cancelParam) {
                $.ajax({
                    url: host + '/CancelPairCode',
                    type: 'POST',
                    data: JSON.stringify(cancelParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            layer.msg('取消对码失败' + errData, { time: 2000, icon: 5 });
                        } else {
                            pairCodeDataTable();

                        }
                    }
                });
            }
            //监听工具条
            table.on('tool(LAY-pair-content-list)',
                function (obj) {

                    var data = obj.data;
                    var directoryName = data.DirectoryName;
                    var pairCodeManufacturer = data.ManufacturerName;
                    var directoryCategoryName = data.DirectoryCategoryName;
                    var directoryCode = data.DirectoryCode;

                    $("#pairCodeProjectName").val(directoryName);
                    $("#pairCodeManufacturer").val(pairCodeManufacturer);
                    $("#pairCodeDirectoryCode").val(directoryCode);

                    ////更新费用类别
                    getDirectoryCategoryTypeCode(directoryCategoryName);
                    if (obj.event === 'pairCode') {
                        // pairCodeDataListTable();
                        pairCodeDataModelTable();
                    }
                    else if (obj.event === 'updatePairCode') {

                        layer.confirm('是否重新对码?',
                            {
                                title: false,
                                btn: ['是', '否'] //按钮
                            },
                            function (ind) {
                                // pairCodeDataListTable();
                                pairCodeDataModelTable();
                                layer.close(ind);


                            },
                            function (inds) {
                                layer.close(inds);

                            });
                    }
                    if (obj.event === 'CancelPairCode') {

                        var projectName = data.ProjectName;
                        var cancelParam = {
                            "ProjectName": projectName,
                            "DirectoryCode": data.DirectoryCode,
                            "UserId": $("#empid").val()
                        }
                        cancelPairCode(cancelParam);
                    }
                });
            table.on('tool(LAY-app-content-list)',
                function (obj) {

                    var data = obj.data;

                    var sendData =
                    {
                        "DirectoryName": data.DirectoryName,
                        "DirectoryCode": data.DirectoryCode,
                        "DirectoryCategoryName": data.DirectoryCategoryName,
                        "UserId": $("#empid").val()
                    }

                    if (obj.event === 'baseAdd') {
                        $.ajax({
                            url: hostNew + '/OutpatientExclusionAdd',
                            type: 'POST',
                            data: JSON.stringify(sendData),
                            dataType: "json",
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.Success === false) {
                                    var errData = data.Message;
                                    layer.msg('操作失败' + errData, { time: 2000, icon: 5 });
                                } else {

                                    pairCodeDataTable();
                                    layer.alert('操作成功', { icon: 6, title: '温馨提示', shade: 0.1, skin: 'layui-layer-molv' });
                                }
                            },
                            complete: function () {
                                layer.close(this.layerIndex);
                            }
                        });
                    }

                });
            table.on('tool(OutpatientExclusionTable)',
                function (obj) {

                    var data = obj.data;

                    var sendData =
                    {
                        "id": data.Id,
                        "UserId": $("#empid").val()
                    }

                    if (obj.event === 'baseDelete') {
                        $.ajax({
                            url: hostNew + '/OutpatientExclusionCancel',
                            type: 'POST',
                            data: JSON.stringify(sendData),
                            dataType: "json",
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.Success === false) {
                                    var errData = data.Message;
                                    layer.msg('操作失败' + errData, { time: 2000, icon: 5 });
                                } else {

                                    outpatientExclusionTable();
                                    layer.alert('操作成功', { icon: 6, title: '温馨提示', shade: 0.1, skin: 'layui-layer-molv' });
                                }
                            },
                            complete: function () {
                                layer.close(this.layerIndex);
                            }
                        });
                    }

                });
            //
            table.on('row(LAY-pair-content-list)',
                function (obj) {
                    //获取当前行的所有兄弟姐妹元素，把他们的background-color样式清除，然后再给当前行设置颜色。
                    $(obj.tr).siblings().css("background-color", "");
                    obj.tr.css("background-color", "#FFFFCC");
                });
            table.on('row(LAY-pair-content-list)',
                function (obj) {
                    //获取当前行的所有兄弟姐妹元素，把他们的background-color样式清除，然后再给当前行设置颜色。
                    $(obj.tr).siblings().css("background-color", "");
                    obj.tr.css("background-color", "#FFFFCC");
                });
            table.on('tool(LAY-pairDate-content-list)',
                function (obj) {

                    var data = obj.data;
                    var userId = $("#empid").val();
                    //获取HIS编码DirectoryCode
                    //var directoryCode = $("#DirectoryCode").val();
                    var directoryCode = $("#pairCodeDirectoryCode").val();
                    if (directoryCode === "" || directoryCode === undefined) {
                        layer.alert("院内项目未选择,不能对码!!!", { icon: 5, title: '错误提示', skin: 'layui-layer-molv' })
                        return false;
                    }
                    //医院目录类别
                    var directoryCategoryCode = $("#pairCodeProjectCodeType").val();
                    //医保编码
                    var projectCode = data.ProjectCode;
                    var medicalInsurancePairCodeUiParam = {
                        DirectoryCode: directoryCode,
                        DirectoryCategoryCode: directoryCategoryCode,
                        ProjectCode: projectCode
                    };
                    var pairCodeList = []; //对码数据
                    pairCodeList.push(medicalInsurancePairCodeUiParam);
                    var sendData = { PairCodeList: pairCodeList, UserId: userId };

                    if (obj.event === 'pairCodeTo') {
                        $.ajax({
                            url: host + '/MedicalInsurancePairCode',
                            type: 'POST',
                            data: JSON.stringify(sendData),
                            dataType: "json",
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.Success === false) {
                                    var errData = data.Message;
                                    layer.msg('对码失败\n' + errData, { time: 2000, icon: 5 });
                                } else {

                                    pairCodeDataTable();
                                    layer.alert('对码成功', { icon: 6, title: '温馨提示', shade: 0.1, skin: 'layui-layer-molv' });
                                }
                            },
                            complete: function () {
                                layer.close(this.layerIndex);
                            }
                        });
                    }


                    //return false;
                });
            $('.layui-btn.layui-btn-list').on('click',
                function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            var active = {
                cleanSearch: function () {
                    layer.alert('已删除', { icon: 5, title: '错误提示', skin: 'layui-layer-molv' });

                }
            }

        });

</script>

<script type="text/html" id="tableCodeBtn">
    <a class="layui-btn layui-btn-xs" lay-event="pairCodeTo">对码</a>
</script>
<script type="text/html" id="tableBaseCodeBtn">
    <a class="layui-btn layui-btn-xs" lay-event="baseAdd">标记</a>
</script>
<script type="text/html" id="tableBaseDeleteCodeBtn">
    <a class="layui-btn layui-btn-xs" lay-event="baseDelete">删除</a>
</script>
<script type="text/html" id="tableBtn">
    {{#  if(d.Id == null){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="pairCode">对码</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="updatePairCode">重新对码</a>
    <a class="layui-btn layui-btn-xs" lay-event="CancelPairCode">取消对码</a>
    {{#  }}}
</script>

